:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.results, .stats, .top10, [class|="title"] {
    float: left;
    width: 33.33%;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.6rem;
    text-align: left;
}

[class|="title"] {
    text-transform: uppercase;
    font-weight: bold;
}

.results, .stats, .top10 {
    min-height: 40vh;
    max-height: 40vh;
    overflow: scroll;
}

.results, .title-left {
    background-color: #AA6C39;
}

.stats, .title-center {
    background-color: #D49A6A;
}

.top10, .title-right {
    background-color: #AA6C39;
}

#timer {
    float: left;
    text-align: center;
    font-size: 20vh;
    width: 66.6%;
    margin: 0;
    height: 50vh;
    padding: 15vh 0;
    background-color: #804515;
    color: white;
}

#chartContainer {
    float: left;
    width: 33.3%;
    height: 50vh;
}

.blank {
    height: 1rem;
}