.results {
    width: 100vw;
    height: 100vh;
}

#results {
    font-size: 1rem;
    text-align: left;
}

p {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 8rem;
    margin-top: 3rem;
}