:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
/*    color: #B5BED4;*/
    color: white;
}

.results, .stats, .top10, [class|="title"] {
    float: left;
    width: 33.33%;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.6rem;
    text-align: left;
}

[class|="title"] {
    text-transform: uppercase;
    font-weight: bold;
    min-height: 5rem;
    max-height: 5rem;
}

.results, .stats, .top10 {
    min-height: 40vh;
    max-height: 40vh;
}

.results, .title-left {
    background-color: #2e4272;
}

.results {
    overflow: scroll;
}

.stats, .title-center {
    background-color: #566B8F;
}

.top10, .title-right {
    background-color: #2e4272;
}

#timer {
    float: left;
    text-align: center;
    font-size: 20vh;
    width: 66.66%;
    margin: 0;
    height: 50vh;
    padding: 15vh 0;
    background-color: #0D1F47;
/*    color: #CCD5E9;*/
    color: white;
}

.spacebar {
    position: absolute;
    top: 40vh;
    left: calc(calc(66.67vw - 500px) / 2);
    font-size: 4.66vh;
    opacity: 0;
    animation-name: spacebar;
    animation-duration: 23s;
}

@keyframes spacebar {
    1% {opacity: 0.2;}
    90% {opacity: 0.2;}
    100% {opacity: 0;}
}

.chartContainer {
    float: left;
    width: 33.33%;
    height: 50vh;
    background-color: #62749C;
}

.blank {
    height: 1rem;
}

.title-left button {
    background-color: inherit;
    border: none;
    overflow: visible;
}